# Variables de Entorno de Ejemplo para Módulo 3
# Copia este archivo como ".env" y llena tus datos reales. 
# Credenciales de Telegram Bot Father y el Chat del Operations Manager
TOKEN_TELEGRAM="tu_token_de_telegram_x_y_z"
CHAT_ID="tu_chat_id_grupo_o_usuario"

# LLM API Key para acceder al modelo Gemini 2.0 Flash a través de OpenRouter
OPENROUTER_KEY="sk-or-v1-tu_llave_de_openrouter_aqui"
